# Public Grafana settings
GRAFANA_DOMAIN=obs.zetaslate.com
GRAFANA_ROOT_URL=https://obs.zetaslate.com/
# Grafana admin user
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-me

# Reference deployment private IPs
# Replace these on your actual hosts.
EC2_OBS_PRIVATE_IP=ip-172-31-35-151.ec2.internal
EC2_A_PRIVATE_IP=ip-172-31-37-31.ec2.internal
EC2_B_PRIVATE_IP=ip-172-31-47-135.ec2.internal

# Prometheus retention 
PROMETHEUS_RETENTION_TIME=6h
PROMETHEUS_RETENTION_SIZE=512MB

# Exporter ports
NODE_EXPORTER_PORT=9100
TRAFFIC_EXPORTER_PORT=9201
HARDWARE_REPLAY_EXPORTER_PORT=9202
IPERF3_PORT=5201