NODE_NAME=ec2-a-tx
NODE_ROLE=sender
PEER_HOST=ec2-b-rx.internal
EXPORTER_HOST=0.0.0.0
EXPORTER_PORT=9201
IPERF3_PORT=5201
PING_COUNT=5
PING_TIMEOUT_SECONDS=2
IPERF3_DURATION_SECONDS=5
IPERF3_UDP_BANDWIDTH=1M
TRAFFIC_EXPORTER_UPDATE_INTERVAL_SECONDS=30